@font-face {
    font-family: 'Open Sans';
    src: url();/*font går her*/
}
* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    margin: 0;
    font-family: "times new roman", "Opens Sans", sans-serif;
}

article {
    padding: 10px;
    margin: 50px auto;
    width: 900px;
}
section {
    /* margin-bottom: 96px; */
}
hr {
    height: 64px;
    border: none;
}
h1 {
    font-size: 4em;
    margin: 0.33em 0;
    font-weight: 100;
    margin-bottom: 0.1em;
    font-family: "Muli", "Opens Sans", sans-serif;
}
h2 {
    font-size: 2.5em;
    margin: 0.33em 0;
    font-weight: 100;
    margin-top: 0.1em;
    font-family: "Muli", "Opens Sans", sans-serif;
}
h4 {
    font-size: 1em;
    margin: 0.83em 0;
    margin-bottom: 0.1em;
    font-family: "Muli", "Opens Sans", sans-serif;
}
p {
    font-size: 1em;
    margin: 0.83em 0;
    margin-top: 0.1em;
}
blockquote {
    line-height: 1.5;
}
figure {
    float: left;
    shape-outside: polygon(0 0, 58% 0, 85% 88%, 0 94%);
    margin-top: -40px;
    margin-left: -30px;
    height: 300px;
}
figure img {
    float: left;
    margin-top: -40px;
    height: 350px;
}
blockquote {
    margin-right: 0px;
    margin-left: 20px;
}
a {
    font-size: 2em;
}
.three-column {
    width: 100%;
    display: flex;
}
.three-column div {
    width: calc(100% / 3);
    padding: 0 14px;
}
.left-text {
    display: flex;
    float:left;
    font-size: 1.2em;
    margin-bottom: 40px;
    font-family: "Muli", "Opens Sans", sans-serif;
}
.left-text p {
    margin-right: 10px;
}
.weak {
    opacity: 0.8;
}

.right {
    text-align: end;
    flex: 1;
    align-items: center;
    display: flex;
    justify-content: end;
}

.bottom-text {
    align-items: center;
    display: flex;
    font-size: 1.15em;
    opacity: 0.7;
    font-family: "Muli", "Opens Sans", sans-serif;;
}

.space {
    margin: 0 10px;
}